<form id="signinForm" method="POST" action="/user/signin">
  <div class="form-container">
    <h1 id="formTitle">Авторизация</h1>
    <hr>
    <input type="text" placeholder="Ввелите имя" name="name" required>
    <input type="password" placeholder="Ввелите пароль" name="password" required>
    <button type="submit" class="registerbtn">Войти</button>
  </div>
</form>
